{% extends "generator_base.html" %}
{% block content %}
  <div class="container column is-10">
    <div class="section">
        <form action="" method="post" role="form">


<div class="form-group">
        <div class="field">
            <label class="label">Text</label>
            <input class="form-input" id="text" name="text" type="text" placeholder="e.g. your name">
        </div>
        <label class="label">Version</label>
        <div class="control">
            <button type="submit" class="button is-primary">Generate</button>
        </div>

    </div>
            </form>
  </div>
    </div>

{% endblock %}
